<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rocket Design - Mobile Web Design Services</title>
  <link rel="stylesheet" type="text/css" href="style.css" />  
  <link href="css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="img/icons/favicon.png"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/lightbox.min.css">
</head>
<body>
<!--- Wrapper Start -->
    <div id="wrapper">
<!--- Banner Wrapper Start -->
    <div id="banner-wrapper">
<!--- Header Start -->
  <header>
    <div id="header-inner">
      <a href="index.html" id="logo" title=""></a>
      <nav>
        <a href="#" id="menu-icon"></a>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="skills.html">Skills</a></li>
          <li><a href="portfolio.html" class="current">Portfolio</a></li>
          <li><a href="team.html">Our Team</a></li>
          <li><a href="contact.php">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
<!--- Header End -->
<!--- Breadcrumbs & Title Start -->
  <section class="breadcrumbs">
    <h4>Our Portfolio</h4>
    <div class="icon">
      <i class="fa fa-folder-open"></i>
    </div>
  </section>
  <div id="title">
    <h2 class="dark">Check Out Our Work</h2>
  </div>
<!--- Breadcrumbs & Title End -->
    </div>
<!--- Banner Wrapper End -->
  <p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.  We create strategies based on the outcomes you expect to see for your company.</p>
<!--- Portfolio Row One Start -->
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/complete-rd.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="img/pics/900-644-rd.png" alt=""/></a>
    </section>
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="img/pics/900-644.png" alt=""/></a>
    </section>
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="img/pics/900-644.png" alt=""/></a>
    </section>
<!--- Portfolio Row One End -->
<!--- Portfolio Row Two Start -->
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/900-644.png" data-lightbox="example-set" data-title="Image Title"><img class="example-image" src="img/pics/900-644.png" alt=""/></a>
    </section>
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="img/pics/900-644.png" alt=""/></a>
    </section>
    <section class="one-third-padding">
      <a class="example-image-link" id="lightbox-img" href="img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="img/pics/900-644.png" alt=""/></a>
    </section>
<!--- Portfolio Row Two End -->
<!--- Portfolio Row Three Start -->
    <section class="left-col">
      <a class="example-image-link" id="lightbox-img" href="img/pics/1020-350.png" data-lightbox="example-set" data-title="Image Title"><img class="example-image" src="img/pics/1020-350.png" alt=""/></a>
    </section>
    <section class="sidebar">
        <p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach. We start each project by gathering info.</p>
    </section>
<!--- Portfolio Row Three End -->
<div class="clearfix-padding"></div>
<!--- Start Page Callout -->
    <div class="page-callout">
      <p class="callout-text">Get in touch with us for a free web development quote!</p>
      <div class="button-holder">
        <a class="btn" href="contact.php">Contact</a>
      </div>
    </div>
<!--- End Page Callout -->
</div>
<!--- Wrapper End -->
<div class="clearfix-padding"></div>
<!--- Start Footer -->
  <footer>
<!--- Banner Wrapper Start -->
  <div id="banner-wrapper">
    <div class="icon-text">
      <div class="icon-text-icon">
        <ul class="footer-nav">
          <li><a href="index.html" title="">Home</a></li>
          <li><a href="skills.html" title="">Skills</a></li>
          <li><a href="portfolio.html" title="">Portfolio</a></li>
          <li><a href="team.html" title="">Our Team</a></li>
          <li><a href="contact.php" title="">Contact</a></li>
        </ul>
      </div>
      <div class="icon-text-text">
        <ul class="social">
          <li><a href="mailto:email@website.com" title=""><i class="fa fa-envelope-o" id="email"></i></a></li>
          <li><a href="https://www.facebook.com/w3newbie"><i class="fa fa-facebook" id="facebook"></i></a></li>
          <li><a href="https://plus.google.com/+DrewRyan_w3/posts"><i class="fa fa-google-plus" id="google-plus"></i></a></li>
          <li><a href="https://twitter.com/DrewOnCue"><i class="fa fa-twitter" id="twitter"></i></a></li>
          <li><a href="https://youtube.com/user/DrewOnCue"><i class="fa fa-youtube" id="youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
<!--- Banner Wrapper End -->
  </footer>
  <footer class="second">
    <p>&copy; Rocket Design</p>
  </footer>
<!--- End Footer -->
<!--- Top Scroll Start -->
  <a href="#0" class="cd-top">Top</a>
    <script src="js/top.js"></script> <!-- Gem jQuery -->
    <script src="js/modernizr.js"></script>
<!--- Top Scroll End --> 
  <script src="js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
