@{
    ViewData["Title"] = "Resources";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cognitivo Consulting | Knowledge | Resources</title>
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/img/icons/Cognitivo-logo-web.png" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <meta name="description" content="">
</head>
<body>
    <!--- Wrapper Start -->
    <div id="wrapper">
        <!--- Banner Wrapper Start -->
        <div id="banner-wrapper">
            <!--- Header Start -->
            <header>
                <div id="header-inner">
                    <a href="index.html" id="logo" title=""></a>
                    <nav>
                        <a href="#" id="menu-icon"></a>
                        <ul>
                            <li>@Html.ActionLink("Index", "Home")</li>
                            <li><a href="#" class="current">Knowledge & Resources</li>
                            <li>@Html.ActionLink("Our Team", "team")</li>
                            <li>@Html.ActionLink("Connect", "Contact")</li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!--- Header End -->
            <!--- Breadcrumbs & Title Start -->
            <section class="breadcrumbs">
                <h4>Our Portfolio</h4>
                <div class="icon">
                    <i class="fa fa-folder-open"></i>
                </div>
            </section>
            <div id="title">
                <h2 class="dark">Knowlege &amp; Resources</h2>
            </div>
            <!--- Breadcrumbs & Title End -->
        </div>
        <!--- Banner Wrapper End -->
        <p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.  We create strategies based on the outcomes you expect to see for your company.</p>

        <!--- Portfolio Row One Start -->

        <section class="one-third-padding">
            <a id="lightbox-img" href="http://www.cognitivoconsulting.com/2017/07/im-australian-business-whats-digital.html" target="_blank" data-lightbox="example-set" data-title="Portfolio Project Details"><img src="../img/pics/digital_guy.png" alt="" /></a>
            <h2>
                <span>
                    <a href="index.html">I'm an Australian Business &nbsp;<br>&nbsp; What's Digital ?</a>
                </span>
            </h2>
        </section>



        <section class="one-third-padding">
            <a id="lightbox-img" href="https://www.linkedin.com/pulse/bridging-human-computer-data-gap-alan-hsiao" target="_blank" data-lightbox="example-set" data-title="Portfolio Project Details"><img src="../img/pics/StrategicInnovationAndDesignThinking.png" alt="" /></a>
          

            <h2>
                <span>
                    <a href="index.html">Strategy Meets&nbsp;<br>&nbsp;Design Thinking</a>
                </span>
            </h2>
        </section>


        <section class="one-third-padding">
            <a id="lightbox-img" href="https://www.linkedin.com/pulse/bridging-human-computer-data-gap-alan-hsiao" target="_blank" data-lightbox="example-set" data-title="Portfolio Project Details"><img src="../img/pics/robot_hands.png" alt="" /></a>
            <h2>
                <span>
                    <a href="index.html">Bridging the Human&nbsp;<br>&nbsp;Computer Data Gap</a>
                </span>
            </h2>
        </section>
        <!--- Portfolio Row One End -->
        <!--- Portfolio Row Two Start -->
        <!--      <a class="example-image-link" id="lightbox-img" href="../img/pics/900-644.png" data-lightbox="example-set" data-title="Image Title"><img class="example-image" src="../img/pics/900-644.png" alt=""/></a>
            </section>
            <section class="one-third-padding">
              <a class="example-image-link" id="lightbox-img" href="../img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="../img/pics/900-644.png" alt=""/></a>
            </section>
            <section class="one-third-padding">
              <a class="example-image-link" id="lightbox-img" href="../img/pics/900-644.png" data-lightbox="example-set" data-title="Portfolio Project Details"><img class="example-image" src="../img/pics/900-644.png" alt=""/></a>
            </section>
        <!--- Portfolio Row Two End -->
        <!--- Portfolio Row Three Start -->
        @*<section class="left-col">
            <a class="example-image-link" id="lightbox-img" href="../img/pics/1020-350.png" data-lightbox="example-set" data-title="Image Title"><img class="example-image" src="../img/pics/1020-350.png" alt="" /></a>
        </section>
        <section class="sidebar">
            <p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach. We start each project by gathering info.</p>
        </section>*@
        
        @*<!--- Portfolio Row Three End -->
        <div class="clearfix-padding"></div>
        <!--- Start Page Callout -->
        <div class="page-callout">
            <p class="callout-text">Get in touch with us for a free web development quote!</p>
            <div class="button-holder">
                <a class="btn" href="contact.php">Contact</a>
            </div>
        </div>*@
        <!--- End Page Callout -->
    </div>
    <!--- Wrapper End -->
    <div class="clearfix-padding"></div>
    <!--- Start Footer -->
    <footer>
        <!--- Banner Wrapper Start -->
        <div id="banner-wrapper">
            <div class="icon-text">
                <div class="icon-text-icon">
                    <ul class="footer-nav">
                        <li><a href="index.html" title="">Home</a></li>
                        <li><a href="#" title="">Knowledge &amp; Resources</a></li>
                        <li><a href="#" title="">Our Team</a></li>
                        <li><a href="#" title="">Contact</a></li>
                    </ul>
                </div>
                <div class="icon-text-text">
                    <ul class="social">
                        <li><a href="mailto:alan.hsiao@cognitivo.com.au" title=""><i class="fa fa-envelope-o" id="email"></i></a></li>
                        <li><a href="https://www.linkedin.com/company-beta/18138073/"><i class="fa fa-linked-in-square" id="linkedin"></i></a></li>
                        <li><a href="https://twitter.com/cognitivo_al"><i class="fa fa-twitter" id="twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--- Banner Wrapper End -->
    </footer>
    <footer class="second">
        <p>&copy; Cognitivo Consulting Pty. Ltd.</p>
    </footer>
    <!--- End Footer -->
    <!--- Top Scroll Start -->
    <a href="#0" class="cd-top">Top</a>
    <script src="js/top.js"></script> <!-- Gem jQuery -->
    <script src="js/modernizr.js"></script>
    <!--- Top Scroll End -->
    </div>
    <!--- Wrapper End -->
</body>
</html>