    ViewData["Title"] = "Skills";
}

<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rocket Design - Mobile Web Design Services</title>
	<link rel="stylesheet" type="text/css" href="style.css" />	
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="shortcut icon" type="image/png" href="img/icons/favicon.png"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<meta name="description" content="">
</head>
<body>
<!--- Wrapper Start -->
		<div id="wrapper">
<!--- Banner Wrapper Start -->
		<div id="banner-wrapper">
<!--- Header Start -->
	<header>
		<div id="header-inner">
		<a href="index.html" id="logo" title=""></a>
		<nav>
			<a href="#" id="menu-icon"></a>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="skills.html" class="current">Skills</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="team.html">Our Team</a></li>
				<li><a href="contact.php">Contact</a></li>
			</ul>
		</nav>
		</div>
	</header>
<!--- Header End -->
<!--- Breadcrumbs & Title Start -->
	<section class="breadcrumbs">
		<h4>Our Skills</h4>
		<div class="icon">
			<i class="fa fa-wrench"></i>
		</div>
	</section>
	<div id="title">
		<h2 class="dark">We've Got the Skills</h2>
	</div>
<!--- Breadcrumbs & Title End -->
		</div>
<!--- Banner Wrapper End -->
<!--- Left Column & Sidebar Start -->
		<section class="left-col">
			<p class="dark">We create strategies based on the outcomes you expect to see for your company. The process for developing award-winning brands and campaigns begins by looking at the big picture. Every effort that goes into development and production of a project should be made with the end goal, or rather, the Big Picture in mind.</p>
		</section>
		<section class="sidebar">
			<img src="img/pics/skills.png">
		</section>
<!--- Left Column & Sidebar End -->
<div class="clearfix-padding"></div>
<!--- Row One Icon and Text Sections Start -->
	<article>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #7AC8B7;">
					<td><i class="fa fa-html5"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #309FD8;">
					<td><i class="fa fa-desktop"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #EC9877;">
					<td><i class="fa fa-cloud-upload"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
	</article>
<!--- Row One Icon and Text Sections End -->
<!--- Row Two Icon and Text Sections Start -->
	<aside>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #A2B2C1;">
					<td><i class="fa fa-css3"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #F3C559;">
					<td><i class="fa fa-mobile"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
<div class="clearfix"></div>
		<div class="icon-text">
			<div class="icon-text-icon">
				<div class="icon-wrap" style="background: #A2D7F1;">
					<td><i class="fa fa-code-fork"></i></td>
				</div>
			</div>
			<div class="icon-text-text">
				<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
			</div>
		</div>
	</aside>
<!--- Row Two Icon and Text Sections End -->
<div class="clearfix-padding"></div>
	<section class="one-third-padding">
		<h3 class="dark">Our Skills One</h3>
		<img src="img/pics/900-644.png">
		<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
	</section>
	<section class="one-third-padding">
		<h3 class="dark">Our Skills Two</h3>
		<img src="img/pics/900-644.png">
		<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
	</section>
	<section class="one-third-padding">
		<h3 class="dark">Our Skills Three</h3>
		<img src="img/pics/900-644.png">
		<p class="dark">We start each project by gathering the information and client’s requirement, which means lots of client discussions &amp; reseach.</p>
	</section>
<div class="clearfix"></div>
<!--- Start Page Callout -->
		<div class="page-callout">
			<p class="callout-text">See what we're capable of by getting to know our work!</p>
			<div class="button-holder">
				<a class="btn" href="portfolio.html">Portfolio</a>
			</div>
		</div>
<!--- End Page Callout -->
</div>
<!--- Wrapper End -->
<div class="clearfix-padding"></div>
<!--- Start Footer -->
	<footer>
<!--- Banner Wrapper Start -->
	<div id="banner-wrapper">
		<div class="icon-text">
			<div class="icon-text-icon">
				<ul class="footer-nav">
					<li><a href="index.html" title="">Home</a></li>
					<li><a href="skills.html" title="">Skills</a></li>
					<li><a href="portfolio.html" title="">Portfolio</a></li>
					<li><a href="team.html" title="">Our Team</a></li>
					<li><a href="contact.php" title="">Contact</a></li>
				</ul>
			</div>
			<div class="icon-text-text">
				<ul class="social">
					<li><a href="mailto:email@website.com" title=""><i class="fa fa-envelope-o" id="email"></i></a></li>
					<li><a href="https://www.facebook.com/w3newbie"><i class="fa fa-facebook" id="facebook"></i></a></li>
					<li><a href="https://plus.google.com/+DrewRyan_w3/posts"><i class="fa fa-google-plus" id="google-plus"></i></a></li>
					<li><a href="https://twitter.com/DrewOnCue"><i class="fa fa-twitter" id="twitter"></i></a></li>
					<li><a href="https://youtube.com/user/DrewOnCue"><i class="fa fa-youtube" id="youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
<!--- Banner Wrapper End -->
	</footer>
	<footer class="second">
		<p>&copy; Rocket Design</p>
	</footer>
<!--- End Footer -->
<!--- Top Scroll Start -->
	<a href="#0" class="cd-top">Top</a>
		<script src="js/top.js"></script> <!-- Gem jQuery -->
		<script src="js/modernizr.js"></script>
<!--- Top Scroll End --> 
</body>
</html>